<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{/css/adminPage.css}" href="../static/css/adminPage.css">
    <link rel="stylesheet" th:href="@{/table/table.css}" href="/table/table.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" th:href="@{https://unicons.iconscout.com/release/v4.0.0/css/line.css}" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" th:href="@{/css/contents/image/favicon.ico}" href="/css/contents/image/favicon.ico">  <!--파비콘-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css}" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>Health Note Admin Page</title> 
</head>
<body>
    <nav id="first_nav">
        <div class="logo-name">
            <div class="logo-image">
                <img th:src="@{/css/dumbell.jpg}" src="/static/css/dumbell.jpg">
            </div>
            <div>
                <div id="log_name_margin" class="logo_name">Health&nbsp;Note</div>
                <div class="logo_name">Admin&nbsp;Page</div>
            </div>
        </div>

        <div class="menu-items">
            <ul class="nav-links" style="padding-left: 12px;">
                <li><a th:href="@{/adminPage}" href="adminPage.html">
                    <i class="fa-solid fa-chart-line"></i>
                    <span class="link-name">대시 보드</span>
                </a></li>

                
                <li><a th:href="@{/adminPage2}" href="adminPage2.html">
                    <i class="fa-solid fa-users-line"></i>
                    <span class="link-name"style="color:blueviolet;">회원 관리</span>
                </a></li>


                <li><a th:href="@{/adminPage3}" href="adminPage3.html">
                    <i class="fa-solid fa-comments"></i>
                    <span class="link-name">게시판 관리</span>
                </a></li>


                <li><a th:href="@{/adminPage4}" href="adminPage4.html">
                    <i class="fa-solid fa-dumbbell"></i>
                    <span class="link-name">운동 라이브러리</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a id="logout" th:href="@{/logout}" href="index.html">    <!--로그아웃-->
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <img th:src="@{/css/banner.jpg}" src="/static/css/banner.jpg"><!--상단 이미지-->
        <nav id="second_nav">
            <a th:href="@{/adminPage2}" href="adminPage2.html"style="font-weight: bold;">회원 관리</a>
            <div class="animation start-home"></div>
            <a><i style="margin-left: 300px;" class="fa-solid fa-users-line"></i></a>
        </nav>

        <main class="table">
            <section class="table__header">
                <h5 style="font-weight: bold;padding-left: 10px;">List</h5>
                <div class="input-group">
                    <input type="search" placeholder="Search Data...🔍"/>
                </div>
            </section>


            <section class="table__body">
                <table>
                    <thead>
                    <tr>
                        <th> Pk <span class="icon-arrow">&UpArrow;</span></th>
                        <th> UserName <span class="icon-arrow">&UpArrow;</span></th>
                        <th> UserId <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Order Date <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Amount <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> 1 </td>
                        <td> <img th:src="@{/table/Zinzu Chan Lee.jpg}" src="/table/Zinzu Chan Lee.jpg" alt="">Zinzu Chan Lee</td>
                        <td> Seoul </td>
                        <td> 17 Dec, 2022 </td>
                        <td>
                            <p class="status delivered">Delivered</p>
                        </td>
                        <td> <strong> $128.90 </strong></td>
                    </tr>
                    <tr>
                        <td> 2 </td>
                        <td><img th:src="@{/table/Jeet Saru.jpg}"src="/table/Jeet Saru.jpg" alt=""> Jeet Saru </td>
                        <td> Kathmandu </td>
                        <td> 27 Aug, 2023 </td>
                        <td>
                            <p class="status cancelled">Cancelled</p>
                        </td>
                        <td> <strong>$5350.50</strong> </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td><img th:src="@{/table/Sonal Gharti.jpg}"src="/table/Sonal Gharti.jpg" alt=""> Sonal Gharti </td>
                        <td> Tokyo </td>
                        <td> 14 Mar, 2023 </td>
                        <td>
                            <p class="status shipped">Shipped</p>
                        </td>
                        <td> <strong>$210.40</strong> </td>
                    </tr>
                    <tr>
                        <td> 4</td>
                        <td><img th:src="@{/table/Alson GC.jpg}"src="/table/Alson GC.jpg" alt=""> Alson GC </td>
                        <td> New Delhi </td>
                        <td> 25 May, 2023 </td>
                        <td>
                            <p class="status delivered">Delivered</p>
                        </td>
                        <td> <strong>$149.70</strong> </td>
                    </tr>
                    <tr>
                        <td> 5</td>
                        <td><img th:src="@{/table/Sarita Limbu.jpg}"src="/table/Sarita Limbu.jpg" alt=""> Sarita Limbu </td>
                        <td> Paris </td>
                        <td> 23 Apr, 2023 </td>
                        <td>
                            <p class="status pending">Pending</p>
                        </td>
                        <td> <strong>$399.99</strong> </td>
                    </tr>
                    <tr>
                        <td> 6</td>
                        <td><img th:src="@{/table/Alex Gonley.jpg}"src="/table/Alex Gonley.jpg" alt=""> Alex Gonley </td>
                        <td> London </td>
                        <td> 23 Apr, 2023 </td>
                        <td>
                            <p class="status cancelled">Cancelled</p>
                        </td>
                        <td> <strong>$399.99</strong> </td>
                    </tr>
                    <tr>
                        <td> 7</td>
                        <td><img th:src="@{/table/Alson GC.jpg}"src="/table/Alson GC.jpg" alt=""> Jeet Saru </td>
                        <td> New York </td>
                        <td> 20 May, 2023 </td>
                        <td>
                            <p class="status delivered">Delivered</p>
                        </td>
                        <td> <strong>$399.99</strong> </td>
                    </tr>
                    <tr>
                        <td> 8</td>
                        <td><img th:src="@{/table/Sarita Limbu.jpg}"src="/table/Sarita Limbu.jpg" alt=""> Aayat Ali Khan </td>
                        <td> Islamabad </td>
                        <td> 30 Feb, 2023 </td>
                        <td>
                            <p class="status pending">Pending</p>
                        </td>
                        <td> <strong>$149.70</strong> </td>
                    </tr>
                    <tr>
                        <td> 9</td>
                        <td><img th:src="@{/table/Alex Gonley.jpg}"src="/table/Alex Gonley.jpg" alt=""> Alson GC </td>
                        <td> Dhaka </td>
                        <td> 22 Dec, 2023 </td>
                        <td>
                            <p class="status cancelled">Cancelled</p>
                        </td>
                        <td> <strong>$249.99</strong> </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </section>
</body>
<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script th:src="@{/table/table.js}" src="/table/table.js"></script>
</html>